{% extends 'base.html' %}

{% block content %}
{{super }}
<style>
 body{
  background-image: url('https://images.unsplash.com/photo-1487587090589-f458461e549d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

 }
</style>

<head>
  </div>
  <script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>

  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    function copyToClipboard(element) {
      $(element).select();
      document.execCommand("copy");
    }
  </script>
</head>


<div class="container">
  <div class="row">
    <div class="row galler__wrap mt--40" style="background-color:white
    ;">
      
      {% for data in all_pic %}
      <h3 style="color: black
      "> {{data.name}} </h3>
      
     
					
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 animated rotateInUpRight delay-2s">
      <!-- <div class="col-lg-4 col-lg-4 col-lg-4 col-md-12 "> -->
        <img src="{{data.image.url}}" class=" img img-responsive" data-toggle="modal" data-target="#{{data.id}}">
      </div>


  
      <div class="modal fade" id="{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h3 class="modal-title" id="exampleModalLongTitle">{{data.name}}</h3>
              <h4 class="modal-title">{{data.location}}</h4>
              <h5 class="modal-title">{{data.post_date}}</h5>


              <button type="button" class="close" data-dismiss="modal" aria-label="Close">

              </button>
            </div>

            <div class="modal-body">

              <div class="text-center">

                <img src='{{data.image.url}}' class="img-responsive" width=100% height=100% alt="Image">

              </div>

              {{data.description}}



            </div>

            <div class="modal-footer">

              <div class="form-group row">
              
                  <input id="{{data.id}}-url" class="form-control input-md responsive" type="text"
                    value="{{data.image.url}}">
            
                  <button class="btn btn-secondary" onclick="copyToClipboard('#{{data.id}}-url')">Copy</button>
                </div>
            



              <div class="text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% comment %} <button


            
        id='details'

        data-description='{{image.description}}'

        data-location='{{image.location}}'
                    
        data-category='{{image.category}}'
                    
                                
                    
        type="button"
                    
        class="btn btn-info btn-xs info-btn"
                    
        data-toggle="modal">
         View Details
                    
        </button> {% endcomment %}
        <div id="modal-details" class="modal">
            
             <span class="close">&times;</span>
                      
             <div class="modal-content">
             
             <ul>
                      
               <label>DESCRIPTION:</label>
                      
                <li class="oneone"></li>
                      
                <label>LOCATION:</label>
                      
                 <li class="twotwo"></li>
                 <label>CATEGORY:</label>
                 <li class="threethree"></li>
                </ul>
                      

         </div>
        </div>                  
                           
    {% endfor %}
  </div>



</div>


{% endblock %}